/****************** General Styling *****************/
* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

body {
  max-width: 600px;
  margin: 0 auto;
  --header-text-color: #fbfbfb;
  --header-background-color: #6a1cc3;
  --header-accent-color: #8849cf;
  --main-text-color: #6a1cc3;
  --main-background-color: #fbfbfb;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
  color: var(--main-text-color);
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

/****************** Flex-Container *****************/

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
}

/****************** Header-Bereich *****************/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  _margin: 0 auto;
  text-transform: uppercase;
  padding-top: 2rem;
}

.icon-list {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

/********* "Recordings"-Bereich ********/

.title-recordings {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  padding-right: 12.5rem;
}

.subtitle-recordings {
  margin: 0;
}

/********* "Recordings-"Bereich mit Search-Bar ********/

.container-searchbar {
  width: 20rem;
  height: 2.25rem;
  border: 0.1rem solid var(--main-text-color);
  border-radius: 0.125rem;
  margin-top: 0.5rem;
}

.lupen-element {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.searchbar {
  border: none;
  color: var(--main-text-color);
  font-size: 0.8rem;
}

::placeholder {
  color: #4b148a;
  opacity: 40%;
}

/********* "Last-Lesson-Recordings"-Bereich mit Play-Button ********/

.last-lesson-header {
  padding-left: 8.5em;
}

.list-elements > ul {
  display: grid;
  width: 20rem;
  height: 7rem;
  list-style-type: none;
  background-color: var(--main-background-color);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--main-text-color);
  border: 0.1rem solid var(--main-text-color);
  border-radius: 0.125rem;
  box-shadow: 3px 3px var(--main-text-color);
  margin-top: 0;
  padding-left: 1em;
}

.list-dates {
  position: relative;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.play-button {
  background-color: var(--main-background-color);
  border: 0.1rem solid #6a1cc3;
  border-radius: 0.125rem;
  color: var(--main-text-color);
  font-weight: 600;
  width: 4.25rem;
  height: 2.25rem;
  font-size: 1rem;
  margin: 0.4em 0.2em;
  cursor: pointer;
  position: relative;
  bottom: 2.7em;
  margin-left: 14em;
}

.play-button:hover {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}
